:root {
    --secondary: #595d60;
    --light: #ebebeb;
    --dark: #000000;
    --white: #ffffff;
    --danger: #ff0000;
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    letter-spacing: 1.5px;
}

body {
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
}

/* lists */
ul,
ol {
    padding-left: 0;
    list-style-type: none;
}

/* links */
a {
    text-decoration: none;
    /* color: var(--secondary); */
}

/* images */
img {
    width: 100%;
    height: auto;
}

/* logo */
.logo {
    width: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: 1.0em;
    text-transform: uppercase;
    color: var(--gradient);
    font-weight: 700;
}

.logo img {
    width: 24px;
}

/* cards */
.card {
    width: 380px;
    position: relative;
    margin: 50px auto;
    background: var(--white);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* buttons */
input,
textarea,
select {
    position: relative;
    border-color: var(--secondary);
    color: var(--dark);
    display: block;
    padding: .45rem .9rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid var(--secondary);
    appearance: none;
    border-radius: .25em;
    text-transform: uppercase;
    width: 100%;
}

.btn,
input[type=submit] {
    color: var(--gradient);
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 0.2em;
    display: inline-block;
    border: 0;
    outline: 0;
    background: var(--primary);
    margin-bottom: 1em;
}

/* forms */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: var(--primary);

}

form {
    background: var(--white);
    padding: 2em;
}

legend {
    font-size: 2em;
    font-weight: 600;
}

label {
    font-size: 1.2em;
    padding: .5em 0em;
}

form title {
    padding: 2em;
}

.form-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    Margin-top: 1em;
}

.form-group .row {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.form-group .row .col {
    padding: 0;
    margin: 0;
    width: 100%;
}

.form-group .row .col:nth-child(1) {
    max-width: 30%;
}